@import url('./fonts.css');

body{
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
p{
    margin: 0;
}

:root{
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
    --first-color: #8A33FD;
    --second-color: #F6F6F6;
    --third-color: #FFF;
    --fourth: #3C4242;
    --five-color: #807D7E;
    --text-color-black: #3C4242;
    --text-color-brown: #807D7E;
    --text-color-white: #FFF;
    --text-font-causten: 'Causten', sans-serif;
    --text-font-coreSans55: 'Core Sans C 55', sans-serif;
    --text-font-coreSans65: 'Core Sans C 65', sans-serif;
    --text-font-coreSans75: 'Core Sans C 75', sans-serif;
    --text-font-coreSans85: 'Core Sans C 85', sans-serif;
    --text-font-montserrat: 'Montserrat', sans-serif;
}

@mixin section__styles{
    max-width: 1240px;
    width: 100%;
    padding: 50px 15px;
    margin: 0 auto;
    @media (max-width: 991px) {
        padding: 30px 15px;
    }
    @media (max-width: 489px) {
        width: initial;
        padding: 20px 10px;
    }
}

@mixin title__styles__main__page{
    font-family: 'Core Sans C 65';
    font-size: 34px;
    color: var(--text-color-black);
    padding: 0 0 0 20px;
    position: relative;
    margin: 0 0 70px 0;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        width: 6px;
        height: 30px;
        border-radius: 10px;
        background: var(--first-color);
    }
    @media (max-width: 991px) {
        font-size: 26px;
        margin: 0 0 50px 0;
    }
    @media (max-width: 489px) {
        font-size: 22px;
        margin: 0 0 20px 0;
    }
}

@mixin header__icon__style__false{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center; 
}

@mixin header__icon__style__true{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center; 
}

@mixin filter__title__style{
    font-family: var(--text-font-causten);
    font-weight: var(--semi-bold);
    font-size: 22px;
    color: var(--text-color-brown);
}

.all__category{
    .page__title{
        @include title__styles__main__page();
        max-width: 1240px;
        margin: 0 auto;
    }
    .category__wrapp{
        @include section__styles();
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            li{
                max-width: 300px;
                max-height: 300px;
                .category__img{
                    max-width: 200px;
                    max-height: 200px;
                    border-radius: 12px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .category__name{
                    font-family: var(--text-font-causten);
                    font-weight: var(--medium);
                    font-size: 18px;
                    color: var(--text-color-black);
                }
            }
        }
    }
}

/* ############ HEADER ##########*/
.header{
    &__wrapp{
        @include section__styles();
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 29px 15px;
        .logo{
            max-width: 100px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .category__menu{
            .title__category{
                text-transform: capitalize;
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                .shop__link{
                    font-family: var(--text-font-causten);
                    font-weight: var(--medium);
                    font-size: 22px;
                    color: var(--text-color-brown);
                    transition: 0.6s; 
                }
                @media (any-hover: hover) {
                    .shop__link:hover{
                        color: var(--text-color-black);
                    }
                }
                span{
                    font-family: var(--text-font-causten);
                    font-weight: var(--medium);
                    font-size: 22px;
                    color: var(--text-color-brown);
                    cursor: pointer;
                    transition: 0.6s;
                    position: relative;
                }
                @media (any-hover: hover) {
                    span:hover{
                        color: var(--text-color-black);
                    }
                }
                .category__list{
                    position: absolute;
                    background: #fff;
                    box-shadow: 0px 0px 2px 0px #c8c9c9;
                    border-radius: 8px;
                    padding: 5px 10px;
                    z-index: 2;
                    a{
                        font-family: var(--text-font-causten);
                        font-weight: var(--medium);
                        font-size: 18px;
                        color: var(--text-color-black);
                    }
                }
            }
        }
        .global__search{
            background: var(--second-color);
            border-radius: 8px;
            display: flex;
            gap: 12px;
            align-items: center;
            padding: 10px 45px 10px 20px;
            input{
                border: 0;
                outline: none;
                font-family: var(--text-font-causten);
                font-weight: var(--regular);
                color: var(--text-color-black);
                background: transparent;
            }
            input::placeholder{
                color: var(--text-color-brown);
            }
            .global__search-btn{
                border: 0;
                outline: none;
                background: transparent;
                cursor: pointer;
            }
        }
        .header__wrapp-btn{
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
        }
        .favorites__true{
            @include header__icon__style__true();
            cursor: pointer;
            a{
                width: 20px;
                height: 20px;
            }
        }
        .favorites__false{
            @include header__icon__style__false();
            cursor: pointer;
        }
        .user__true{
            @include header__icon__style__true();
            position: relative;
            cursor: pointer;
        }
        .user__false{
            @include header__icon__style__false();
            position: relative;
            cursor: pointer;
        }
        .header__navbar{
            position: absolute;
            background: var(--first-color);
            border-radius: 8px;
            padding: 5px 20px;
            z-index: 2;
        }
        .basket__true{
            @include header__icon__style__true();
            cursor: pointer;
        }
        .basket__false{
            @include header__icon__style__false();
            cursor: pointer;
        }
    }
}
/*########## SLIDER BANNER ##########*/
.slider-banner {
    position: relative;
    width: 100%;
    height: 100vh; // на всю высоту экрана
    overflow: hidden;
  
    &__track {
      display: flex;
      transition: transform 0.5s ease-in-out;
      height: 100%;
    }
  
    &__slide {
        min-width: 100%;
        height: 100%;
        max-height: 718px;
        position: relative;
        img {
            width: 100%;
            object-fit: contain;
        }
        .slide__text-wrapp{
            position: absolute;
            z-index: 3;
            top: 15%;
            left: 10%;
            max-width: 440px;
            display: flex;
            gap: 40px;
            flex-direction: column;
            align-items: flex-start;
            .slide__text-top{
                font-family: var(--text-font-coreSans55);
                font-size: 32px;
                color: var(--text-color-white);
            }
            .slide__text-title{
                font-family: var(--text-font-coreSans85);
                font-size: 78px;
                color: var(--text-color-white);
            }
            .slide__text-bottom{
                font-family: var(--text-font-coreSans55);
                font-size: 32px;
                color: var(--text-color-white);
            }
            .slide__link{
                background: var(--third-color);
                font-family: var(--text-font-causten);
                font-size: 24px;
                font-weight: var(--bold);
                border-radius: 8px;
                color: var(--text-color-black);
                padding: 15px 72px;
                border: 1px solid transparent;
                display: inline-block;
                transition: 0.6s;
            }
            @media (any-hover: hover) {
                .slide__link:hover{
                background: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
  
    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
            img {
                width: 30px;
                height: 30px;
            }
            &.prev {
                left: 20px;
            }
            &.next {
                right: 20px;
            }
        }
    
        &__bullets {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
    
        .bullet {
            width: 62px;
            height: 10px;
            background: rgba(255, 255, 255, 0.6);
            cursor: pointer;
            transition: background 0.3s;
            &.active {
            background: #fff;
            }
    
            &:hover {
            background: #fff;
            }
        }
        .bullet:first-child{
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        .bullet:last-child{
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}
/*######### DISCOUNT ############*/
.discount{
    @include section__styles();
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    &__wrapper{
        max-width: 604px;
        max-height: 355px;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        .discount__text-wrapp{
            position: absolute;
            max-width: 264px;
            top: 20%;
            left: 5%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .discount__top{
            font-family: var(--text-font-montserrat);
            font-weight: var(--extra-bold);
            font-size: 18px;
            color: var(--text-color-white);
        }
        .discount__main{
            font-family: var(--text-font-coreSans75);
            font-size: 34px;
            color: var(--text-color-white);
        }
        .discount__bottom{
            font-family: var(--text-font-coreSans55);
            font-size: 16px;
            color: var(--text-color-white);
        }
        .discount__link{
            font-family: var(--text-font-coreSans75);
            font-size: 20px;
            color: var(--text-color-white);
            text-decoration: underline;
        }
        .discount__img{
            max-width: 604px;
            max-height: 355px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
/*############# NEW ARRIVAL ################*/
.new__arrival{
    @include section__styles();
    &-title{
        @include title__styles__main__page();
    }
    .arrival__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 38px;
    }
    .arrival__wrapp{
        max-width: 262px;
        .arrival__link{
            display: inline-block;
            .arrival__img{
                max-width: 262px;
                max-height: 262px;
                border-radius: 12px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .arrival__name{
                font-family: var(--text-font-causten);
                font-weight: var(--bold);
                font-size: 20px;
                color: var(--text-color-black);
                margin: 30px 0 0 0;
            }
        }
    }
}
/*############ SAVING ZONE #############*/
.saving__zone{
    @include section__styles();
    &-title{
        @include title__styles__main__page();
    }
    .wrapp__saving{
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .wrapper__saving{
        max-width: 610px;
        max-height: 393px; 
        position: relative;
    }
    @media (any-hover:hover) {
        .wrapper__saving:hover{
            .saving__arrow{
                animation: arrow__down__anim 2s forwards;
            }
        }
    }
    .saving__img{
        img{
            object-fit: contain;
        }
    }
    .saving__content{
        max-width: 164px;
        position: absolute;
        top: 15%;
        right: 5%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        .saving__flag{
            background: var(--fourth);
            border-radius: 4px;
            font-family: var(--text-font-causten);
            font-weight: var(--bold);
            font-size: 12px;
            color: var(--text-color-white);
            display: inline-block;
            padding: 10px 17px;
        }
        .saving__title{
            font-family: var(--text-font-coreSans65);
            font-size: 28px;
            color: var(--text-color-white);
        }
        .saving__description{
            font-family: var(--text-font-causten);
            font-weight: var(--semi-bold);
            font-size: 14px;
            color: var(--text-color-white);
        }
        .saving__discount{
            font-family: var(--text-font-causten);
            font-weight: var(--bold);
            font-size: 18px;
            color: var(--text-color-white);
        }
        .saving__link{
            font-family: var(--text-font-causten);
            font-weight: var(--medium);
            font-size: 12px;
            color: var(--text-color-white);
            border: 1px solid var(--third-color);
            padding: 9px 24px;
            border-radius: 4px;
            transition: 0.6s;
        }
        @media (any-hover: hover) {
            .saving__link:hover{
                background: var(--second-color);
                color: var(--text-color-black);
            }
        }
        .saving__arrow-wrapp{
            max-width: 110px;
            width: 100%;
            display: flex;
            justify-content: center;
            .saving__arrow{
                margin: 10px 0;
                position: relative;
                transition: 0.6s;
            }
            @keyframes arrow__down__anim {
                0%{
                    top: 0;
                }
                50%{
                    top: 20px;
                }
                100%{
                    top: 0;
                }
            }
        }
        .black{
            color: var(--text-color-black);
        }
        .black__link{
            color: var(--text-color-black);
            border: 1px solid var(--fourth);
        }
        @media (any-hover: hover) {
            .black__link:hover{
                background: var(--fourth);
                color: var(--text-color-white);
            }
        }
    }
    .right{
        left: 5%;
    }
}
/*############ MADE BANNER ##############*/
.made__banner{
    border-radius: 13%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    @include section__styles();
    .banner__wrapp{
        max-width: 614px;
        max-height: 639px;
        position: relative;
        .banners__content-wrapp{
            position: absolute;
            top: 25%;
            left: 10%;
            z-index: 2;
            max-width: 466px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
            .banner__title{
                font-family: var(--text-font-coreSans85);
                font-size: 34px;
                color: var(--text-color-white);
            }
            .banner__text{
                font-family: var(--text-font-causten);
                font-weight: var(--light);
                font-size: 20px;
                color: var(--text-color-white);
            }
            .banner__link{
                background: var(--third-color);
                border: 8px;
                font-family: var(--text-font-causten);
                font-weight: var(--semi-bold);
                font-size: 18px;
                color: var(--text-color-black);
                border: 1px solid transparent;
                padding: 11px 43px;
                display: inline-block;
                border-radius: 8px;
                transition: 0.6s;
            }
            @media (any-hover:hover) {
                .banner__link:hover{
                    color: var(--text-color-white);
                    background: transparent;
                    border: 1px solid var(--third-color);
                }
            }
        }
    }
}
/*############ FOR MEN & FOR WOMEN #############*/
.man__category-list{
    @include section__styles();
    .man__title{
        @include title__styles__main__page();
    }
    .man__category-wrapp{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        .category__wrapper{
            max-width: 270px;
            .category__img{
                max-width: 270px;
                max-height: 390px;
                overflow: hidden;
                border-radius: 10px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .category__name{
                font-family: var(--text-font-causten);
                font-weight: var(--bold);
                font-size: 18px;
                color: var(--text-color-black);
                margin: 15px 0 0 0;
            }
            .category__description{
                font-family: var(--text-font-causten);
                font-weight: var(--medium);
                font-size: 14px;
                color: var(--text-color-brown);
            }
        }
    }
}
/*############# BRANDS ###############*/
.brands{
    @include section__styles();
    background: var(--fourth);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    gap: 25px;
    margin: 50px auto;
    .brand__title{
        font-family: var(--text-font-coreSans85);
        font-size: 50px;
        color: var(--text-color-white);
    }
    .brand__text{
        font-family: var(--text-font-causten);
        font-weight: var(--medium);
        font-size: 22px;
        color: var(--text-color-white);
    }
    .brand__img-wrapp{
        display: flex;
        gap: 24px;
        max-width: 985px;
        padding: 25px 0 0 0;
        .brand__img{
            max-width: 177px;
            max-height: 85px;
            border-radius: 12px;
            overflow: hidden;
        }
    }
}
/*############ LIMELIGHT ##############*/
.limelight{
    @include section__styles();
    .limelight__title{
        @include title__styles__main__page();
    }
    .limelight__wrapp{
        display: flex;
        flex-wrap: wrap;
        gap: 37px;
    }
    .limelight__item{
        position: relative;
        max-width: 282px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .limelight__btn{
            position: absolute;
            z-index: 2;
            top: 26px;
            right: 20px;
        }
        .limelight__fav-btn{
            border: 0;
            background: transparent;
            outline: none;
            cursor: pointer;
            .fav__true{
                width: 32px;
                height: 32px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--first-color);
            }
            .fav__false{
                width: 32px;
                height: 32px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--third-color);
            }
        }
        .prod__img{
            max-width: 282px;
            max-height: 370px;
            overflow: hidden;
            border-radius: 12px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .prod__items{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .prod__name-brand{
                display: flex;
                flex-direction: column;
                .prod__name{
                    font-family: var(--text-font-causten);
                    font-weight: var(--semi-bold);
                    font-size: 16px;
                    color: var(--text-color-black);
                }
                .prod__brand{
                    font-family: var(--text-font-causten);
                    font-weight: var(--medium);
                    font-size: 14px;
                    color: var(--text-color-brown);
                }
            }
            .prod__price{
                background: var(--second-color);
                border-radius: 8px;
                font-family: var(--text-font-causten);
                font-weight: var(--bold);
                font-size: 14px;
                color: var(--text-color-black);
                padding: 10px 27px;
                display: inline-block;
            }
        }
    }
}
/*############ FEEDBACK ###############*/
.feedback{
    @include section__styles();
    &__title{
        @include title__styles__main__page();
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
    }
    &__item{
        max-width: 392px;
        width: 100%;
        border-radius: 10px;
        border: 2px solid #BEBCBD;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 350px;
        width: 100%;
        .feedback__img{
            width: 58px;
            height: 58px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &__body{
        max-width: 350px;
        margin: 20px 0;
        .feedback__author{
            font-family: var(--text-font-coreSans55);
            font-size: 22px;
            color: var(--text-color-black);
            margin: 0 0 20px 0;
        }
        .feedback__text{
            font-family: var(--text-font-causten);
            font-weight: var(--regular);
            font-size: 14px;
            color: var(--text-color-brown);
            line-height: 19px;
        }
    }
}
/*############ FOOTER #################*/
.footer{
    background: var(--fourth);
    .footer__wrapp-colums{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1060px;
    }
    .footer__wrapp{
        @include section__styles();
        padding: 50px 15px 0 15px;
        .three__colums-menu{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 585px;
            width: 100%;
            .footer__menu{
                .title__menu{
                    font-family: var(--text-font-causten);
                    font-weight: var(--bold);
                    font-size: 28px;
                    color: var(--text-color-white);
                    margin: 0 0 15px 0;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    li{
                        a{
                            font-family: var(--text-font-causten);
                            font-weight: var(--medium);
                            font-size: 18px;
                            color: var(--text-color-white);
                            transition: 0.6s;
                        }
                        @media (any-hover: hover) {
                            a:hover{
                                color: var(--first-color);
                            }
                        }
                    }
                }
            }
        }
        .contacts{
            .title__contacts{
                font-family: var(--text-font-causten);
                font-weight: var(--bold);
                font-size: 28px;
                color: var(--text-color-white);
                margin: 0 0 15px 0;
            }
            .contacts__wrapp{
                display: flex;
                flex-direction: column;
                gap: 8px;
                .contacts__text{
                    font-family: var(--text-font-causten);
                    font-weight: var(--medium);
                    font-size: 18px;
                    color: var(--text-color-white);
                    transition: 0.6s;
                }
                @media (any-hover: hover) {
                    .contacts__text:hover{
                        color: var(--first-color);
                    }
                }
            }
        }
    }
    .footer__middle{
        @include section__styles();
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .social__wrapp{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .download__app-wrapp{
            .title__download{
                font-family: var(--text-font-causten);
                font-weight: var(--bold);
                font-size: 28px;
                color: var(--text-color-white);
                margin: 0 0 38px 0;
            }
            .variant__download{
                display: flex;
                flex-wrap: wrap;
                gap: 21px;
            }
        }
    }
    .popular__categories{
        @include section__styles();
        padding: 30px 15px;
        .popular__btn{
            border-top: 1px solid #BEBCBD;
            border-bottom: 1px solid #BEBCBD; 
            padding: 30px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .popular__title{
                font-family: var(--text-font-causten);
                font-weight: var(--bold);
                font-size: 28px;
                color: var(--text-color-white);
            }
        }
    }
    .copyright{
        @include section__styles();
        padding: 25px 15px;
        font-family: var(--text-font-causten);
        font-weight: var(--bold);
        font-size: 18px;
        color: var(--text-color-white);
        text-align: center;
    }
}

/*############ CATEGORY PAGE ############*/
.main__category{
    border-top: 1px solid #BEBCBD;
}
.category__wrapp{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    @include section__styles();
    padding: 0 15px 50px 15px;
    .wrapp__prod{
        display: flex;
        flex-direction: column;
        padding: 50px 0 0 0;
        .category__title{
            font-family: var(--text-font-causten);
            font-weight: var(--semi-bold);
            font-size: 22px;
            color: var(--text-color-black);
        }
    }
    .products{
        display: flex;
    }
    .filter__title{
        @include filter__title__style();
            padding: 20px 30px;
            display: flex;
            justify-content: space-between;
            border: 1px solid #BEBCBD;
        img{
            transition: 0.6s;
            // transform: rotate(180deg);
        }
    }
    .filter__wrapp{
        max-width: 295px;
        width: 100%;
        .rotated{
            transform: rotate(180deg);
        }
        .filter__title{
            img{
                transition: 0.6s;
            }
        }
    }
    .filter__menu-wrapp{
        .filter__menu{
            border-left: 1px solid #BEBCBD;
            border-right: 1px solid #BEBCBD;
            ul{
                display: flex;
                gap: 20px;
                flex-direction: column;
                padding: 20px 30px;
                a{
                    display: flex;
                    justify-content: space-between;
                    font-family: var(--text-font-causten);
                    font-weight: var(--semi-bold);
                    font-size: 16px;
                    color: var(--text-color-brown);
                    transition: 0.6s;
                }
                @media (any-hover: hover) {  
                    a:hover{
                        color: var(--first-color);
                    }
                }
            }
        }
    }
    .filter__range{
        .price__wrapp{
            border-left: 1px solid #BEBCBD;
            border-right: 1px solid #BEBCBD;
            padding: 40px 34px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .min__max{
                display: flex;
                justify-content: space-between;
                .min__max-input{
                    border: 1px solid #BEBCBD;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    font-family: var(--text-font-causten);
                    font-size: 16px;
                    font-weight: var(--medium);
                    color: var(--text-color-black);
                    padding: 0 19px;
                    input{
                        outline: none;
                        border: 0px;
                        max-width: 48px;
                        padding: 6px 0;
                        font-family: var(--text-font-causten);
                        font-size: 16px;
                        font-weight: var(--medium);
                        color: var(--text-color-black);
                    }
                }
            }
        }
    }
    .filter__colors{
        border-left: 1px solid #BEBCBD;
        border-right: 1px solid #BEBCBD;
        .filter__title{
            border-left: 0;
            border-right: 0;
        }
        .color__wrapp{
            display: flex;
            gap: 18px;
            flex-wrap: wrap;
            padding: 40px 38px;
        }
        .color__wrapper{
            display: inline-block;
            border-radius: 12px;
            padding: 8px;
            border: 2px solid transparent;
            input{
                opacity: 0;
            }
        }
        .color__wrapper.active{
            border: 2px solid #000;
        }
    }
    .filter__size{
        border-left: 1px solid #BEBCBD;
        border-right: 1px solid #BEBCBD;
        border-bottom: 1px solid #BEBCBD;
        .filter__title{
            border-top: 1px solid #BEBCBD;
            border-bottom: 1px solid #BEBCBD;
            border-left: 0;
            border-right: 0;
        }
        .size__wrapp{
            display: flex;
            flex-wrap: wrap;
            gap: 18px;
            padding: 40px 38px;
        }
        .size__wrapper{
            position: relative;
            font-family: var(--text-font-causten);
            font-weight: var(--semi-bold);
            font-size: 14px;
            color: var(--text-color-black);
            border: 1px solid #BEBCBD;
            border-radius: 8px;
            padding: 7px 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 22px;
                cursor: pointer;
            }
        }
        .select__size{
            border: 1px solid var(--fourth);
        }
    }
    .filtered{
        display: flex;
        flex-direction: column;
        width: 100%;
        .prod__title{
            font-family: var(--text-font-causten);
            font-weight: var(--semi-bold);
            font-size: 22px;
            color: var(--text-color-black);
        }
        .filtered__items{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            align-items: center;
            padding: 50px 0; 
        }
        .filter-btn{
            cursor: pointer;
            border: 0;
            outline: none;
            background: transparent;
            font-family: var(--text-font-causten);
            font-weight: var(--semi-bold);
            font-size: 22px;
            color: var(--text-color-black);
        }
        .active{
            color: var(--first-color);
        }
    }
    .product{
        display: flex;
        gap: 37px;
        flex-wrap: wrap;
        width: 100%;
    }
    .wrapper__prod{
        position: relative;
        max-width: 282px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .prod__image{
            max-width: 282px;
            max-height: 370px;
            overflow: hidden;
            border-radius: 12px;
            .prod__img{
                max-width: 282px;
                max-height: 370px;
                overflow: hidden;
                border-radius: 12px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            } 
        }
        .prod__items{
            display: flex;
            justify-content: space-between;
            align-items: center; 
            .prod__name-brand{
                display: flex;
                flex-direction: column;
                .prod__name{
                    font-family: var(--text-font-causten);
                    font-weight: var(--semi-bold);
                    font-size: 16px;
                    color: var(--text-color-black); 
                }
                .prod__brand{
                    font-family: var(--text-font-causten);
                    font-weight: var(--medium);
                    font-size: 14px;
                    color: var(--text-color-brown);
                }
            }
            .prod__price{
                background: var(--second-color);
                border-radius: 8px;
                font-family: var(--text-font-causten);
                font-weight: var(--bold);
                font-size: 14px;
                color: var(--text-color-black);
                padding: 10px 27px;
            }
        }
    }
    .prod__fav-btn{
        position: absolute;
        z-index: 2;
        top: 26px;
        right: 20px;
        .prod__fav{
            border: 0;
            background: transparent;
            outline: none;
            cursor: pointer;
            .fav__false{
                width: 32px;
                height: 32px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--third-color)
            }
            .fav__true{
                width: 32px;
                height: 32px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--first-color); 
            }
        }
    }
}
.category__content{
    @include section__styles();
    .content__wrapp-text{
        margin: 0 0 50px 0;
        .content__title{
            @include title__styles__main__page();
        }
        .content__text{
            font-family: var(--text-font-causten);
            font-weight: var(--medium);
            font-size: 20px;
            color: var(--text-color-brown);
            line-height: 50px;
        }
    }
    .content__table{
        .table__title{
            @include title__styles__main__page();
        }
        .table{
            background: #F6F6F6;
            .table__header{
                display: flex;
                justify-content: space-between;
                .header__cell{
                    font-family: var(--text-font-coreSans65);
                    font-size: 24px;
                    color: var(--text-color-black);
                    padding: 50px;
                    border-bottom: 1px solid #BEBCBD;
                }
                .header__cell:nth-child(1){
                    max-width: 865px;
                    width: 100%;
                }
                .header__cell:nth-child(2){
                    max-width: 175px;
                    width: 100%;
                    border-left: 1px solid #BEBCBD;
                }
            }
            .table__row{
                display: flex;
                justify-content: space-between;
                .table__cell{
                    font-family: var(--text-font-causten);
                    font-weight: var(--regular);
                    font-size: 24px;
                    color: var(--text-color-brown);
                }
                .table__cell:nth-child(1){
                    padding: 20px 50px;
                    max-width: 865px;
                    width: 100%;
                }
                .table__cell:nth-child(2){
                    max-width: 175px;
                    width: 100%;
                    border-left: 1px solid #BEBCBD; 
                    padding: 20px 50px;
                }
            }
        }
    }
}

/*############ PRODUCT PAGE #############*/
.wrapp__product-page{
    @include section__styles();
    .product__wrapper-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    .product__slider{
        display: flex;
        max-width: 520px;
        width: 100%;
        height: auto;
        .main__image-container{
            max-width: 520px;
            width: 100%;
            height: auto;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .slider__control-panel{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .slider__btn-wrapp{
                display: flex;
                flex-direction: column;
            }
            .thumbnails{
                display: flex;
                flex-direction: column;
                .thumbnails__mini{
                    width: 70px;
                    height: 70px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    .crumbs__wrapp{
        display: flex;
        align-items: center;
        gap: 6px;
        .arrow__crumbs{
            width: 5px;
            height: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .text__crumbs{
            text-transform: capitalize;
            font-family: var(--text-font-causten);
            font-weight: var(--medium);
            font-size: 18px;
            color: var(--text-color-brown);
        }
    }
    .name__prod{
        font-family: var(--text-font-coreSans65);
        font-size: 34px;
        color: var(--text-color-black);
    }
    .rating__star-wrapp{
        display: flex;
        gap: 25px;
        .star__rating{
            display: flex;
            gap: 15px;
            span{
                font-family: var(--text-font-causten);
                font-weight: var(--medium);
                font-size: 18px;
                color: var(--text-color-brown);
            }
        }
        .comment__rating{
            display: flex;
            justify-content: center;
            gap: 10px;
            font-family: var(--text-font-causten);
            font-weight: var(--medium);
            font-size: 18px;
            color: var(--text-color-brown);
            img{
                width: 20px;
                height: 18px;
            }
        }
    }
    .size__wrapp{
        .size__head{
            display: flex;
            gap: 20px;
            align-items: center;
            .size__title{
                font-family: var(--text-font-causten);
                font-weight: var(--semi-bold);
                font-size: 18px;
                color: var(--text-color-black);
            }
            .size__btn{
                border: 0;
                background: transparent;
                outline: none;
                display: flex;
                align-items: center;
                gap: 15px;
                font-family: var(--text-font-causten);
                font-weight: var(--medium);
                font-size: 18px;
                color: var(--text-color-brown);
            }
        }
        .size__btn-wrapp{
            display: flex;
            flex-wrap: wrap;
            max-width: 290px;
            gap: 20px;
            margin: 20px 0;
            .size__btn-select{
                width: 42px;
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #BEBCBD;
                border-radius: 12px;
                font-family: var(--text-font-causten);
                font-weight: var(--medium);
                font-size: 14px;
                color: var(--text-color-black);
            }
            .size__selected{
                border: 2px solid var(--fourth);
                background: var(--fourth);
                color: var(--text-color-white);
            }
        }
    }
    .color__wrapp{
        .color__title{
            font-family: var(--text-font-causten);
            font-weight: var(--semi-bold);
            font-size: 18px;
            color: var(--text-color-black); 
        }
        .color__wrapper-btn{
            display: flex;
            gap: 25px;
            padding: 8px 0;
            .color__select-btn{
                width: 22px;
                height: 22px;
                border-radius: 100%;
                border: 2px solid transparent;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .col__selected::after{
                content: '';
                position: absolute;
                width: 32px;
                height: 32px;
                background: transparent;
                border: 2px solid var(--fourth);
                border-radius: 100%;
            }
        }
    }
}