@import url("./fonts.css");
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

:root {
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
  --first-color: #8A33FD;
  --second-color: #F6F6F6;
  --third-color: #FFF;
  --fourth: #3C4242;
  --five-color: #807D7E;
  --text-color-black: #3C4242;
  --text-color-brown: #807D7E;
  --text-color-white: #FFF;
  --text-font-causten: "Causten", sans-serif;
  --text-font-coreSans55: "Core Sans C 55", sans-serif;
  --text-font-coreSans65: "Core Sans C 65", sans-serif;
  --text-font-coreSans75: "Core Sans C 75", sans-serif;
  --text-font-coreSans85: "Core Sans C 85", sans-serif;
  --text-font-montserrat: "Montserrat", sans-serif;
}

.all__category .page__title {
  font-family: "Core Sans C 65";
  font-size: 34px;
  color: var(--text-color-black);
  padding: 0 0 0 20px;
  position: relative;
  margin: 0 0 70px 0;
  max-width: 1240px;
  margin: 0 auto;
}
.all__category .page__title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: var(--first-color);
}
@media (max-width: 991px) {
  .all__category .page__title {
    font-size: 26px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 489px) {
  .all__category .page__title {
    font-size: 22px;
    margin: 0 0 20px 0;
  }
}
.all__category .category__wrapp {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .all__category .category__wrapp {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .all__category .category__wrapp {
    width: initial;
    padding: 20px 10px;
  }
}
.all__category .category__wrapp ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.all__category .category__wrapp ul li {
  max-width: 300px;
  max-height: 300px;
}
.all__category .category__wrapp ul li .category__img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 12px;
  overflow: hidden;
}
.all__category .category__wrapp ul li .category__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.all__category .category__wrapp ul li .category__name {
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 18px;
  color: var(--text-color-black);
}

/* ############ HEADER ##########*/
.header__wrapp {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 15px;
}
@media (max-width: 991px) {
  .header__wrapp {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .header__wrapp {
    width: initial;
    padding: 20px 10px;
  }
}
.header__wrapp .logo {
  max-width: 100px;
}
.header__wrapp .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__wrapp .category__menu .title__category {
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header__wrapp .category__menu .title__category .shop__link {
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 22px;
  color: var(--text-color-brown);
  transition: 0.6s;
}
@media (any-hover: hover) {
  .header__wrapp .category__menu .title__category .shop__link:hover {
    color: var(--text-color-black);
  }
}
.header__wrapp .category__menu .title__category span {
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 22px;
  color: var(--text-color-brown);
  cursor: pointer;
  transition: 0.6s;
  position: relative;
}
@media (any-hover: hover) {
  .header__wrapp .category__menu .title__category span:hover {
    color: var(--text-color-black);
  }
}
.header__wrapp .category__menu .title__category .category__list {
  position: absolute;
  background: #fff;
  box-shadow: 0px 0px 2px 0px #c8c9c9;
  border-radius: 8px;
  padding: 5px 10px;
  z-index: 2;
}
.header__wrapp .category__menu .title__category .category__list a {
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 18px;
  color: var(--text-color-black);
}
.header__wrapp .global__search {
  background: var(--second-color);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 10px 45px 10px 20px;
}
.header__wrapp .global__search input {
  border: 0;
  outline: none;
  font-family: var(--text-font-causten);
  font-weight: var(--regular);
  color: var(--text-color-black);
  background: transparent;
}
.header__wrapp .global__search input::-moz-placeholder {
  color: var(--text-color-brown);
}
.header__wrapp .global__search input::placeholder {
  color: var(--text-color-brown);
}
.header__wrapp .global__search .global__search-btn {
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.header__wrapp .header__wrapp-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.header__wrapp .favorites__true {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header__wrapp .favorites__true a {
  width: 20px;
  height: 20px;
}
.header__wrapp .favorites__false {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header__wrapp .user__true {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.header__wrapp .user__false {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.header__wrapp .header__navbar {
  position: absolute;
  background: var(--first-color);
  border-radius: 8px;
  padding: 5px 20px;
  z-index: 2;
}
.header__wrapp .basket__true {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header__wrapp .basket__false {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/*########## SLIDER BANNER ##########*/
.slider-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.slider-banner__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}
.slider-banner__slide {
  min-width: 100%;
  height: 100%;
  max-height: 718px;
  position: relative;
}
.slider-banner__slide img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider-banner__slide .slide__text-wrapp {
  position: absolute;
  z-index: 3;
  top: 15%;
  left: 10%;
  max-width: 440px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: flex-start;
}
.slider-banner__slide .slide__text-wrapp .slide__text-top {
  font-family: var(--text-font-coreSans55);
  font-size: 32px;
  color: var(--text-color-white);
}
.slider-banner__slide .slide__text-wrapp .slide__text-title {
  font-family: var(--text-font-coreSans85);
  font-size: 78px;
  color: var(--text-color-white);
}
.slider-banner__slide .slide__text-wrapp .slide__text-bottom {
  font-family: var(--text-font-coreSans55);
  font-size: 32px;
  color: var(--text-color-white);
}
.slider-banner__slide .slide__text-wrapp .slide__link {
  background: var(--third-color);
  font-family: var(--text-font-causten);
  font-size: 24px;
  font-weight: var(--bold);
  border-radius: 8px;
  color: var(--text-color-black);
  padding: 15px 72px;
  border: 1px solid transparent;
  display: inline-block;
  transition: 0.6s;
}
@media (any-hover: hover) {
  .slider-banner__slide .slide__text-wrapp .slide__link:hover {
    background: rgba(255, 255, 255, 0.6);
  }
}
.slider-banner__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
.slider-banner__btn img {
  width: 30px;
  height: 30px;
}
.slider-banner__btn.prev {
  left: 20px;
}
.slider-banner__btn.next {
  right: 20px;
}
.slider-banner__bullets {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.slider-banner__bullets .bullet {
  width: 62px;
  height: 10px;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: background 0.3s;
}
.slider-banner__bullets .bullet.active {
  background: #fff;
}
.slider-banner__bullets .bullet:hover {
  background: #fff;
}
.slider-banner__bullets .bullet:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.slider-banner__bullets .bullet:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/*######### DISCOUNT ############*/
.discount {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .discount {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .discount {
    width: initial;
    padding: 20px 10px;
  }
}
.discount__wrapper {
  max-width: 604px;
  max-height: 355px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.discount__wrapper .discount__text-wrapp {
  position: absolute;
  max-width: 264px;
  top: 20%;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.discount__wrapper .discount__top {
  font-family: var(--text-font-montserrat);
  font-weight: var(--extra-bold);
  font-size: 18px;
  color: var(--text-color-white);
}
.discount__wrapper .discount__main {
  font-family: var(--text-font-coreSans75);
  font-size: 34px;
  color: var(--text-color-white);
}
.discount__wrapper .discount__bottom {
  font-family: var(--text-font-coreSans55);
  font-size: 16px;
  color: var(--text-color-white);
}
.discount__wrapper .discount__link {
  font-family: var(--text-font-coreSans75);
  font-size: 20px;
  color: var(--text-color-white);
  text-decoration: underline;
}
.discount__wrapper .discount__img {
  max-width: 604px;
  max-height: 355px;
  overflow: hidden;
}
.discount__wrapper .discount__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*############# NEW ARRIVAL ################*/
.new__arrival {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .new__arrival {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .new__arrival {
    width: initial;
    padding: 20px 10px;
  }
}
.new__arrival-title {
  font-family: "Core Sans C 65";
  font-size: 34px;
  color: var(--text-color-black);
  padding: 0 0 0 20px;
  position: relative;
  margin: 0 0 70px 0;
}
.new__arrival-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: var(--first-color);
}
@media (max-width: 991px) {
  .new__arrival-title {
    font-size: 26px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 489px) {
  .new__arrival-title {
    font-size: 22px;
    margin: 0 0 20px 0;
  }
}
.new__arrival .arrival__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 38px;
}
.new__arrival .arrival__wrapp {
  max-width: 262px;
}
.new__arrival .arrival__wrapp .arrival__link {
  display: inline-block;
}
.new__arrival .arrival__wrapp .arrival__link .arrival__img {
  max-width: 262px;
  max-height: 262px;
  border-radius: 12px;
  overflow: hidden;
}
.new__arrival .arrival__wrapp .arrival__link .arrival__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.new__arrival .arrival__wrapp .arrival__link .arrival__name {
  font-family: var(--text-font-causten);
  font-weight: var(--bold);
  font-size: 20px;
  color: var(--text-color-black);
  margin: 30px 0 0 0;
}

/*############ SAVING ZONE #############*/
.saving__zone {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .saving__zone {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .saving__zone {
    width: initial;
    padding: 20px 10px;
  }
}
.saving__zone-title {
  font-family: "Core Sans C 65";
  font-size: 34px;
  color: var(--text-color-black);
  padding: 0 0 0 20px;
  position: relative;
  margin: 0 0 70px 0;
}
.saving__zone-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: var(--first-color);
}
@media (max-width: 991px) {
  .saving__zone-title {
    font-size: 26px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 489px) {
  .saving__zone-title {
    font-size: 22px;
    margin: 0 0 20px 0;
  }
}
.saving__zone .wrapp__saving {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.saving__zone .wrapper__saving {
  max-width: 610px;
  max-height: 393px;
  position: relative;
}
@media (any-hover: hover) {
  .saving__zone .wrapper__saving:hover .saving__arrow {
    animation: arrow__down__anim 2s forwards;
  }
}
.saving__zone .saving__img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.saving__zone .saving__content {
  max-width: 164px;
  position: absolute;
  top: 15%;
  right: 5%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.saving__zone .saving__content .saving__flag {
  background: var(--fourth);
  border-radius: 4px;
  font-family: var(--text-font-causten);
  font-weight: var(--bold);
  font-size: 12px;
  color: var(--text-color-white);
  display: inline-block;
  padding: 10px 17px;
}
.saving__zone .saving__content .saving__title {
  font-family: var(--text-font-coreSans65);
  font-size: 28px;
  color: var(--text-color-white);
}
.saving__zone .saving__content .saving__description {
  font-family: var(--text-font-causten);
  font-weight: var(--semi-bold);
  font-size: 14px;
  color: var(--text-color-white);
}
.saving__zone .saving__content .saving__discount {
  font-family: var(--text-font-causten);
  font-weight: var(--bold);
  font-size: 18px;
  color: var(--text-color-white);
}
.saving__zone .saving__content .saving__link {
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 12px;
  color: var(--text-color-white);
  border: 1px solid var(--third-color);
  padding: 9px 24px;
  border-radius: 4px;
  transition: 0.6s;
}
@media (any-hover: hover) {
  .saving__zone .saving__content .saving__link:hover {
    background: var(--second-color);
    color: var(--text-color-black);
  }
}
.saving__zone .saving__content .saving__arrow-wrapp {
  max-width: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.saving__zone .saving__content .saving__arrow-wrapp .saving__arrow {
  margin: 10px 0;
  position: relative;
  transition: 0.6s;
}
@keyframes arrow__down__anim {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
.saving__zone .saving__content .black {
  color: var(--text-color-black);
}
.saving__zone .saving__content .black__link {
  color: var(--text-color-black);
  border: 1px solid var(--fourth);
}
@media (any-hover: hover) {
  .saving__zone .saving__content .black__link:hover {
    background: var(--fourth);
    color: var(--text-color-white);
  }
}
.saving__zone .right {
  left: 5%;
}

/*############ MADE BANNER ##############*/
.made__banner {
  border-radius: 13%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .made__banner {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .made__banner {
    width: initial;
    padding: 20px 10px;
  }
}
.made__banner .banner__wrapp {
  max-width: 614px;
  max-height: 639px;
  position: relative;
}
.made__banner .banner__wrapp .banners__content-wrapp {
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 2;
  max-width: 466px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
.made__banner .banner__wrapp .banners__content-wrapp .banner__title {
  font-family: var(--text-font-coreSans85);
  font-size: 34px;
  color: var(--text-color-white);
}
.made__banner .banner__wrapp .banners__content-wrapp .banner__text {
  font-family: var(--text-font-causten);
  font-weight: var(--light);
  font-size: 20px;
  color: var(--text-color-white);
}
.made__banner .banner__wrapp .banners__content-wrapp .banner__link {
  background: var(--third-color);
  border: 8px;
  font-family: var(--text-font-causten);
  font-weight: var(--semi-bold);
  font-size: 18px;
  color: var(--text-color-black);
  border: 1px solid transparent;
  padding: 11px 43px;
  display: inline-block;
  border-radius: 8px;
  transition: 0.6s;
}
@media (any-hover: hover) {
  .made__banner .banner__wrapp .banners__content-wrapp .banner__link:hover {
    color: var(--text-color-white);
    background: transparent;
    border: 1px solid var(--third-color);
  }
}

/*############ FOR MEN & FOR WOMEN #############*/
.man__category-list {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .man__category-list {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .man__category-list {
    width: initial;
    padding: 20px 10px;
  }
}
.man__category-list .man__title {
  font-family: "Core Sans C 65";
  font-size: 34px;
  color: var(--text-color-black);
  padding: 0 0 0 20px;
  position: relative;
  margin: 0 0 70px 0;
}
.man__category-list .man__title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: var(--first-color);
}
@media (max-width: 991px) {
  .man__category-list .man__title {
    font-size: 26px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 489px) {
  .man__category-list .man__title {
    font-size: 22px;
    margin: 0 0 20px 0;
  }
}
.man__category-list .man__category-wrapp {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.man__category-list .man__category-wrapp .category__wrapper {
  max-width: 270px;
}
.man__category-list .man__category-wrapp .category__wrapper .category__img {
  max-width: 270px;
  max-height: 390px;
  overflow: hidden;
  border-radius: 10px;
}
.man__category-list .man__category-wrapp .category__wrapper .category__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.man__category-list .man__category-wrapp .category__wrapper .category__name {
  font-family: var(--text-font-causten);
  font-weight: var(--bold);
  font-size: 18px;
  color: var(--text-color-black);
  margin: 15px 0 0 0;
}
.man__category-list .man__category-wrapp .category__wrapper .category__description {
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 14px;
  color: var(--text-color-brown);
}

/*############# BRANDS ###############*/
.brands {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
  background: var(--fourth);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  gap: 25px;
  margin: 50px auto;
}
@media (max-width: 991px) {
  .brands {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .brands {
    width: initial;
    padding: 20px 10px;
  }
}
.brands .brand__title {
  font-family: var(--text-font-coreSans85);
  font-size: 50px;
  color: var(--text-color-white);
}
.brands .brand__text {
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 22px;
  color: var(--text-color-white);
}
.brands .brand__img-wrapp {
  display: flex;
  gap: 24px;
  max-width: 985px;
  padding: 25px 0 0 0;
}
.brands .brand__img-wrapp .brand__img {
  max-width: 177px;
  max-height: 85px;
  border-radius: 12px;
  overflow: hidden;
}

/*############ LIMELIGHT ##############*/
.limelight {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .limelight {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .limelight {
    width: initial;
    padding: 20px 10px;
  }
}
.limelight .limelight__title {
  font-family: "Core Sans C 65";
  font-size: 34px;
  color: var(--text-color-black);
  padding: 0 0 0 20px;
  position: relative;
  margin: 0 0 70px 0;
}
.limelight .limelight__title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: var(--first-color);
}
@media (max-width: 991px) {
  .limelight .limelight__title {
    font-size: 26px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 489px) {
  .limelight .limelight__title {
    font-size: 22px;
    margin: 0 0 20px 0;
  }
}
.limelight .limelight__wrapp {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}
.limelight .limelight__item {
  position: relative;
  max-width: 282px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.limelight .limelight__item .limelight__btn {
  position: absolute;
  z-index: 2;
  top: 26px;
  right: 20px;
}
.limelight .limelight__item .limelight__fav-btn {
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.limelight .limelight__item .limelight__fav-btn .fav__true {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--first-color);
}
.limelight .limelight__item .limelight__fav-btn .fav__false {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--third-color);
}
.limelight .limelight__item .prod__img {
  max-width: 282px;
  max-height: 370px;
  overflow: hidden;
  border-radius: 12px;
}
.limelight .limelight__item .prod__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.limelight .limelight__item .prod__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.limelight .limelight__item .prod__items .prod__name-brand {
  display: flex;
  flex-direction: column;
}
.limelight .limelight__item .prod__items .prod__name-brand .prod__name {
  font-family: var(--text-font-causten);
  font-weight: var(--semi-bold);
  font-size: 16px;
  color: var(--text-color-black);
}
.limelight .limelight__item .prod__items .prod__name-brand .prod__brand {
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 14px;
  color: var(--text-color-brown);
}
.limelight .limelight__item .prod__items .prod__price {
  background: var(--second-color);
  border-radius: 8px;
  font-family: var(--text-font-causten);
  font-weight: var(--bold);
  font-size: 14px;
  color: var(--text-color-black);
  padding: 10px 27px;
  display: inline-block;
}

/*############ FEEDBACK ###############*/
.feedback {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .feedback {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .feedback {
    width: initial;
    padding: 20px 10px;
  }
}
.feedback__title {
  font-family: "Core Sans C 65";
  font-size: 34px;
  color: var(--text-color-black);
  padding: 0 0 0 20px;
  position: relative;
  margin: 0 0 70px 0;
}
.feedback__title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: var(--first-color);
}
@media (max-width: 991px) {
  .feedback__title {
    font-size: 26px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 489px) {
  .feedback__title {
    font-size: 22px;
    margin: 0 0 20px 0;
  }
}
.feedback__list {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}
.feedback__item {
  max-width: 392px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #BEBCBD;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 350px;
  width: 100%;
}
.feedback__header .feedback__img {
  width: 58px;
  height: 58px;
}
.feedback__header .feedback__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.feedback__body {
  max-width: 350px;
  margin: 20px 0;
}
.feedback__body .feedback__author {
  font-family: var(--text-font-coreSans55);
  font-size: 22px;
  color: var(--text-color-black);
  margin: 0 0 20px 0;
}
.feedback__body .feedback__text {
  font-family: var(--text-font-causten);
  font-weight: var(--regular);
  font-size: 14px;
  color: var(--text-color-brown);
  line-height: 19px;
}

/*############ FOOTER #################*/
.footer {
  background: var(--fourth);
}
.footer .footer__wrapp-colums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1060px;
}
.footer .footer__wrapp {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
  padding: 50px 15px 0 15px;
}
@media (max-width: 991px) {
  .footer .footer__wrapp {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .footer .footer__wrapp {
    width: initial;
    padding: 20px 10px;
  }
}
.footer .footer__wrapp .three__colums-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 585px;
  width: 100%;
}
.footer .footer__wrapp .three__colums-menu .footer__menu .title__menu {
  font-family: var(--text-font-causten);
  font-weight: var(--bold);
  font-size: 28px;
  color: var(--text-color-white);
  margin: 0 0 15px 0;
}
.footer .footer__wrapp .three__colums-menu .footer__menu ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .footer__wrapp .three__colums-menu .footer__menu ul li a {
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 18px;
  color: var(--text-color-white);
  transition: 0.6s;
}
@media (any-hover: hover) {
  .footer .footer__wrapp .three__colums-menu .footer__menu ul li a:hover {
    color: var(--first-color);
  }
}
.footer .footer__wrapp .contacts .title__contacts {
  font-family: var(--text-font-causten);
  font-weight: var(--bold);
  font-size: 28px;
  color: var(--text-color-white);
  margin: 0 0 15px 0;
}
.footer .footer__wrapp .contacts .contacts__wrapp {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .footer__wrapp .contacts .contacts__wrapp .contacts__text {
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 18px;
  color: var(--text-color-white);
  transition: 0.6s;
}
@media (any-hover: hover) {
  .footer .footer__wrapp .contacts .contacts__wrapp .contacts__text:hover {
    color: var(--first-color);
  }
}
.footer .footer__middle {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 991px) {
  .footer .footer__middle {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .footer .footer__middle {
    width: initial;
    padding: 20px 10px;
  }
}
.footer .footer__middle .social__wrapp {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer .footer__middle .download__app-wrapp .title__download {
  font-family: var(--text-font-causten);
  font-weight: var(--bold);
  font-size: 28px;
  color: var(--text-color-white);
  margin: 0 0 38px 0;
}
.footer .footer__middle .download__app-wrapp .variant__download {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}
.footer .popular__categories {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (max-width: 991px) {
  .footer .popular__categories {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .footer .popular__categories {
    width: initial;
    padding: 20px 10px;
  }
}
.footer .popular__categories .popular__btn {
  border-top: 1px solid #BEBCBD;
  border-bottom: 1px solid #BEBCBD;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .popular__categories .popular__btn .popular__title {
  font-family: var(--text-font-causten);
  font-weight: var(--bold);
  font-size: 28px;
  color: var(--text-color-white);
}
.footer .copyright {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
  padding: 25px 15px;
  font-family: var(--text-font-causten);
  font-weight: var(--bold);
  font-size: 18px;
  color: var(--text-color-white);
  text-align: center;
}
@media (max-width: 991px) {
  .footer .copyright {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .footer .copyright {
    width: initial;
    padding: 20px 10px;
  }
}

/*############ CATEGORY PAGE ############*/
.main__category {
  border-top: 1px solid #BEBCBD;
}

.category__wrapp {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
  padding: 0 15px 50px 15px;
}
@media (max-width: 991px) {
  .category__wrapp {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .category__wrapp {
    width: initial;
    padding: 20px 10px;
  }
}
.category__wrapp .wrapp__prod {
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 0;
}
.category__wrapp .wrapp__prod .category__title {
  font-family: var(--text-font-causten);
  font-weight: var(--semi-bold);
  font-size: 22px;
  color: var(--text-color-black);
}
.category__wrapp .products {
  display: flex;
}
.category__wrapp .filter__title {
  font-family: var(--text-font-causten);
  font-weight: var(--semi-bold);
  font-size: 22px;
  color: var(--text-color-brown);
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #BEBCBD;
}
.category__wrapp .filter__title img {
  transition: 0.6s;
}
.category__wrapp .filter__wrapp {
  max-width: 295px;
  width: 100%;
}
.category__wrapp .filter__wrapp .rotated {
  transform: rotate(180deg);
}
.category__wrapp .filter__wrapp .filter__title img {
  transition: 0.6s;
}
.category__wrapp .filter__menu-wrapp .filter__menu {
  border-left: 1px solid #BEBCBD;
  border-right: 1px solid #BEBCBD;
}
.category__wrapp .filter__menu-wrapp .filter__menu ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px 30px;
}
.category__wrapp .filter__menu-wrapp .filter__menu ul a {
  display: flex;
  justify-content: space-between;
  font-family: var(--text-font-causten);
  font-weight: var(--semi-bold);
  font-size: 16px;
  color: var(--text-color-brown);
  transition: 0.6s;
}
@media (any-hover: hover) {
  .category__wrapp .filter__menu-wrapp .filter__menu ul a:hover {
    color: var(--first-color);
  }
}
.category__wrapp .filter__range .price__wrapp {
  border-left: 1px solid #BEBCBD;
  border-right: 1px solid #BEBCBD;
  padding: 40px 34px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.category__wrapp .filter__range .price__wrapp .min__max {
  display: flex;
  justify-content: space-between;
}
.category__wrapp .filter__range .price__wrapp .min__max .min__max-input {
  border: 1px solid #BEBCBD;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-family: var(--text-font-causten);
  font-size: 16px;
  font-weight: var(--medium);
  color: var(--text-color-black);
  padding: 0 19px;
}
.category__wrapp .filter__range .price__wrapp .min__max .min__max-input input {
  outline: none;
  border: 0px;
  max-width: 48px;
  padding: 6px 0;
  font-family: var(--text-font-causten);
  font-size: 16px;
  font-weight: var(--medium);
  color: var(--text-color-black);
}
.category__wrapp .filter__colors {
  border-left: 1px solid #BEBCBD;
  border-right: 1px solid #BEBCBD;
}
.category__wrapp .filter__colors .filter__title {
  border-left: 0;
  border-right: 0;
}
.category__wrapp .filter__colors .color__wrapp {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  padding: 40px 38px;
}
.category__wrapp .filter__colors .color__wrapper {
  display: inline-block;
  border-radius: 12px;
  padding: 8px;
  border: 2px solid transparent;
}
.category__wrapp .filter__colors .color__wrapper input {
  opacity: 0;
}
.category__wrapp .filter__colors .color__wrapper.active {
  border: 2px solid #000;
}
.category__wrapp .filter__size {
  border-left: 1px solid #BEBCBD;
  border-right: 1px solid #BEBCBD;
  border-bottom: 1px solid #BEBCBD;
}
.category__wrapp .filter__size .filter__title {
  border-top: 1px solid #BEBCBD;
  border-bottom: 1px solid #BEBCBD;
  border-left: 0;
  border-right: 0;
}
.category__wrapp .filter__size .size__wrapp {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  padding: 40px 38px;
}
.category__wrapp .filter__size .size__wrapper {
  position: relative;
  font-family: var(--text-font-causten);
  font-weight: var(--semi-bold);
  font-size: 14px;
  color: var(--text-color-black);
  border: 1px solid #BEBCBD;
  border-radius: 8px;
  padding: 7px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category__wrapp .filter__size .size__wrapper input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 22px;
  cursor: pointer;
}
.category__wrapp .filter__size .select__size {
  border: 1px solid var(--fourth);
}
.category__wrapp .filtered {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.category__wrapp .filtered .prod__title {
  font-family: var(--text-font-causten);
  font-weight: var(--semi-bold);
  font-size: 22px;
  color: var(--text-color-black);
}
.category__wrapp .filtered .filtered__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.category__wrapp .filtered .filter-btn {
  cursor: pointer;
  border: 0;
  outline: none;
  background: transparent;
  font-family: var(--text-font-causten);
  font-weight: var(--semi-bold);
  font-size: 22px;
  color: var(--text-color-black);
}
.category__wrapp .filtered .active {
  color: var(--first-color);
}
.category__wrapp .product {
  display: flex;
  gap: 37px;
  flex-wrap: wrap;
  width: 100%;
}
.category__wrapp .wrapper__prod {
  position: relative;
  max-width: 282px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.category__wrapp .wrapper__prod .prod__image {
  max-width: 282px;
  max-height: 370px;
  overflow: hidden;
  border-radius: 12px;
}
.category__wrapp .wrapper__prod .prod__image .prod__img {
  max-width: 282px;
  max-height: 370px;
  overflow: hidden;
  border-radius: 12px;
}
.category__wrapp .wrapper__prod .prod__image .prod__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.category__wrapp .wrapper__prod .prod__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category__wrapp .wrapper__prod .prod__items .prod__name-brand {
  display: flex;
  flex-direction: column;
}
.category__wrapp .wrapper__prod .prod__items .prod__name-brand .prod__name {
  font-family: var(--text-font-causten);
  font-weight: var(--semi-bold);
  font-size: 16px;
  color: var(--text-color-black);
}
.category__wrapp .wrapper__prod .prod__items .prod__name-brand .prod__brand {
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 14px;
  color: var(--text-color-brown);
}
.category__wrapp .wrapper__prod .prod__items .prod__price {
  background: var(--second-color);
  border-radius: 8px;
  font-family: var(--text-font-causten);
  font-weight: var(--bold);
  font-size: 14px;
  color: var(--text-color-black);
  padding: 10px 27px;
}
.category__wrapp .prod__fav-btn {
  position: absolute;
  z-index: 2;
  top: 26px;
  right: 20px;
}
.category__wrapp .prod__fav-btn .prod__fav {
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.category__wrapp .prod__fav-btn .prod__fav .fav__false {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--third-color);
}
.category__wrapp .prod__fav-btn .prod__fav .fav__true {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--first-color);
}

.category__content {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .category__content {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .category__content {
    width: initial;
    padding: 20px 10px;
  }
}
.category__content .content__wrapp-text {
  margin: 0 0 50px 0;
}
.category__content .content__wrapp-text .content__title {
  font-family: "Core Sans C 65";
  font-size: 34px;
  color: var(--text-color-black);
  padding: 0 0 0 20px;
  position: relative;
  margin: 0 0 70px 0;
}
.category__content .content__wrapp-text .content__title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: var(--first-color);
}
@media (max-width: 991px) {
  .category__content .content__wrapp-text .content__title {
    font-size: 26px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 489px) {
  .category__content .content__wrapp-text .content__title {
    font-size: 22px;
    margin: 0 0 20px 0;
  }
}
.category__content .content__wrapp-text .content__text {
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 20px;
  color: var(--text-color-brown);
  line-height: 50px;
}
.category__content .content__table .table__title {
  font-family: "Core Sans C 65";
  font-size: 34px;
  color: var(--text-color-black);
  padding: 0 0 0 20px;
  position: relative;
  margin: 0 0 70px 0;
}
.category__content .content__table .table__title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: var(--first-color);
}
@media (max-width: 991px) {
  .category__content .content__table .table__title {
    font-size: 26px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 489px) {
  .category__content .content__table .table__title {
    font-size: 22px;
    margin: 0 0 20px 0;
  }
}
.category__content .content__table .table {
  background: #F6F6F6;
}
.category__content .content__table .table .table__header {
  display: flex;
  justify-content: space-between;
}
.category__content .content__table .table .table__header .header__cell {
  font-family: var(--text-font-coreSans65);
  font-size: 24px;
  color: var(--text-color-black);
  padding: 50px;
  border-bottom: 1px solid #BEBCBD;
}
.category__content .content__table .table .table__header .header__cell:nth-child(1) {
  max-width: 865px;
  width: 100%;
}
.category__content .content__table .table .table__header .header__cell:nth-child(2) {
  max-width: 175px;
  width: 100%;
  border-left: 1px solid #BEBCBD;
}
.category__content .content__table .table .table__row {
  display: flex;
  justify-content: space-between;
}
.category__content .content__table .table .table__row .table__cell {
  font-family: var(--text-font-causten);
  font-weight: var(--regular);
  font-size: 24px;
  color: var(--text-color-brown);
}
.category__content .content__table .table .table__row .table__cell:nth-child(1) {
  padding: 20px 50px;
  max-width: 865px;
  width: 100%;
}
.category__content .content__table .table .table__row .table__cell:nth-child(2) {
  max-width: 175px;
  width: 100%;
  border-left: 1px solid #BEBCBD;
  padding: 20px 50px;
}

/*############ PRODUCT PAGE #############*/
.wrapp__product-page {
  max-width: 1240px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .wrapp__product-page {
    padding: 30px 15px;
  }
}
@media (max-width: 489px) {
  .wrapp__product-page {
    width: initial;
    padding: 20px 10px;
  }
}
.wrapp__product-page .product__wrapper-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.wrapp__product-page .product__slider {
  display: flex;
  max-width: 520px;
  width: 100%;
  height: auto;
}
.wrapp__product-page .product__slider .main__image-container {
  max-width: 520px;
  width: 100%;
  height: auto;
}
.wrapp__product-page .product__slider .main__image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapp__product-page .product__slider .slider__control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapp__product-page .product__slider .slider__control-panel .slider__btn-wrapp {
  display: flex;
  flex-direction: column;
}
.wrapp__product-page .product__slider .slider__control-panel .thumbnails {
  display: flex;
  flex-direction: column;
}
.wrapp__product-page .product__slider .slider__control-panel .thumbnails .thumbnails__mini {
  width: 70px;
  height: 70px;
}
.wrapp__product-page .product__slider .slider__control-panel .thumbnails .thumbnails__mini img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapp__product-page .crumbs__wrapp {
  display: flex;
  align-items: center;
  gap: 6px;
}
.wrapp__product-page .crumbs__wrapp .arrow__crumbs {
  width: 5px;
  height: 10px;
}
.wrapp__product-page .crumbs__wrapp .arrow__crumbs img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapp__product-page .crumbs__wrapp .text__crumbs {
  text-transform: capitalize;
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 18px;
  color: var(--text-color-brown);
}
.wrapp__product-page .name__prod {
  font-family: var(--text-font-coreSans65);
  font-size: 34px;
  color: var(--text-color-black);
}
.wrapp__product-page .rating__star-wrapp {
  display: flex;
  gap: 25px;
}
.wrapp__product-page .rating__star-wrapp .star__rating {
  display: flex;
  gap: 15px;
}
.wrapp__product-page .rating__star-wrapp .star__rating span {
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 18px;
  color: var(--text-color-brown);
}
.wrapp__product-page .rating__star-wrapp .comment__rating {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 18px;
  color: var(--text-color-brown);
}
.wrapp__product-page .rating__star-wrapp .comment__rating img {
  width: 20px;
  height: 18px;
}
.wrapp__product-page .size__wrapp .size__head {
  display: flex;
  gap: 20px;
  align-items: center;
}
.wrapp__product-page .size__wrapp .size__head .size__title {
  font-family: var(--text-font-causten);
  font-weight: var(--semi-bold);
  font-size: 18px;
  color: var(--text-color-black);
}
.wrapp__product-page .size__wrapp .size__head .size__btn {
  border: 0;
  background: transparent;
  outline: none;
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 18px;
  color: var(--text-color-brown);
}
.wrapp__product-page .size__wrapp .size__btn-wrapp {
  display: flex;
  flex-wrap: wrap;
  max-width: 290px;
  gap: 20px;
  margin: 20px 0;
}
.wrapp__product-page .size__wrapp .size__btn-wrapp .size__btn-select {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #BEBCBD;
  border-radius: 12px;
  font-family: var(--text-font-causten);
  font-weight: var(--medium);
  font-size: 14px;
  color: var(--text-color-black);
}
.wrapp__product-page .size__wrapp .size__btn-wrapp .size__selected {
  border: 2px solid var(--fourth);
  background: var(--fourth);
  color: var(--text-color-white);
}
.wrapp__product-page .color__wrapp .color__title {
  font-family: var(--text-font-causten);
  font-weight: var(--semi-bold);
  font-size: 18px;
  color: var(--text-color-black);
}
.wrapp__product-page .color__wrapp .color__wrapper-btn {
  display: flex;
  gap: 25px;
  padding: 8px 0;
}
.wrapp__product-page .color__wrapp .color__wrapper-btn .color__select-btn {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: 2px solid transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapp__product-page .color__wrapp .color__wrapper-btn .col__selected::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: transparent;
  border: 2px solid var(--fourth);
  border-radius: 100%;
}/*# sourceMappingURL=App.css.map */