@mixin section__styles{
    max-width: 1240px;
    width: 100%;
    padding: 50px 15px;
    margin: 0 auto;
    @media (max-width: 991px) {
        padding: 30px 15px;
    }
    @media (max-width: 489px) {
        width: initial;
        padding: 20px 10px;
    }
}
@mixin title__styles__main__page{
    font-family: 'Core Sans C 65';
    font-size: 34px;
    color: var(--text-color-black);
    padding: 0 0 0 20px;
    position: relative;
    margin: 0 0 70px 0;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        width: 6px;
        height: 30px;
        border-radius: 10px;
        background: var(--first-color);
    }
    @media (max-width: 991px) {
        font-size: 26px;
        margin: 0 0 50px 0;
    }
    @media (max-width: 489px) {
        font-size: 22px;
        margin: 0 0 20px 0;
    }
}
.all__category{
    .page__title{
        @include title__styles__main__page();
        max-width: 1240px;
        margin: 0 auto;
    }
    .category__wrapp{
        @include section__styles();
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            li{
                max-width: 300px;
                max-height: 300px;
                .category__img{
                    max-width: 200px;
                    max-height: 200px;
                    border-radius: 12px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .category__name{
                    font-family: var(--text-font-causten);
                    font-weight: var(--medium);
                    font-size: 18px;
                    color: var(--text-color-black);
                }
            }
        }
    }
}