@mixin section__styles{
    max-width: 1240px;
    width: 100%;
    padding: 50px 15px;
    margin: 0 auto;
    @media (max-width: 991px) {
        padding: 30px 15px;
    }
    @media (max-width: 489px) {
        width: initial;
        padding: 20px 10px;
    }
}
@mixin filter__title__style{
    font-family: var(--text-font-causten);
    font-weight: var(--semi-bold);
    font-size: 22px;
    color: var(--text-color-brown);
}
@mixin title__styles__main__page{
    font-family: 'Core Sans C 65';
    font-size: 34px;
    color: var(--text-color-black);
    padding: 0 0 0 20px;
    position: relative;
    margin: 0 0 70px 0;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        width: 6px;
        height: 30px;
        border-radius: 10px;
        background: var(--first-color);
    }
    @media (max-width: 991px) {
        font-size: 26px;
        margin: 0 0 50px 0;
    }
    @media (max-width: 489px) {
        font-size: 22px;
        margin: 0 0 20px 0;
    }
}
.main__category{
    border-top: 1px solid #BEBCBD;
}
.category__wrapp{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    @include section__styles();
    padding: 0 15px 50px 15px;
    .wrapp__prod{
        display: flex;
        flex-direction: column;
        padding: 50px 0 0 0;
        .category__title{
            font-family: var(--text-font-causten);
            font-weight: var(--semi-bold);
            font-size: 22px;
            color: var(--text-color-black);
        }
    }
    .products{
        display: flex;
    }
    .filter__title{
        @include filter__title__style();
            padding: 20px 30px;
            display: flex;
            justify-content: space-between;
            border: 1px solid #BEBCBD;
        img{
            transition: 0.6s;
            // transform: rotate(180deg);
        }
    }
    .filter__wrapp{
        max-width: 295px;
        width: 100%;
        .rotated{
            transform: rotate(180deg);
        }
        .filter__title{
            img{
                transition: 0.6s;
            }
        }
    }
    .filter__menu-wrapp{
        .filter__menu{
            border-left: 1px solid #BEBCBD;
            border-right: 1px solid #BEBCBD;
            ul{
                display: flex;
                gap: 20px;
                flex-direction: column;
                padding: 20px 30px;
                a{
                    display: flex;
                    justify-content: space-between;
                    font-family: var(--text-font-causten);
                    font-weight: var(--semi-bold);
                    font-size: 16px;
                    color: var(--text-color-brown);
                    transition: 0.6s;
                }
                @media (any-hover: hover) {  
                    a:hover{
                        color: var(--first-color);
                    }
                }
            }
        }
    }
    .filter__range{
        .price__wrapp{
            border-left: 1px solid #BEBCBD;
            border-right: 1px solid #BEBCBD;
            padding: 40px 34px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .min__max{
                display: flex;
                justify-content: space-between;
                .min__max-input{
                    border: 1px solid #BEBCBD;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    font-family: var(--text-font-causten);
                    font-size: 16px;
                    font-weight: var(--medium);
                    color: var(--text-color-black);
                    padding: 0 19px;
                    input{
                        outline: none;
                        border: 0px;
                        max-width: 48px;
                        padding: 6px 0;
                        font-family: var(--text-font-causten);
                        font-size: 16px;
                        font-weight: var(--medium);
                        color: var(--text-color-black);
                    }
                }
            }
        }
    }
    .filter__colors{
        border-left: 1px solid #BEBCBD;
        border-right: 1px solid #BEBCBD;
        .filter__title{
            border-left: 0;
            border-right: 0;
        }
        .color__wrapp{
            display: flex;
            gap: 18px;
            flex-wrap: wrap;
            padding: 40px 38px;
        }
        .color__wrapper{
            display: inline-block;
            border-radius: 12px;
            padding: 8px;
            border: 2px solid transparent;
            input{
                opacity: 0;
            }
        }
        .color__wrapper.active{
            border: 2px solid #000;
        }
    }
    .filter__size{
        border-left: 1px solid #BEBCBD;
        border-right: 1px solid #BEBCBD;
        border-bottom: 1px solid #BEBCBD;
        .filter__title{
            border-top: 1px solid #BEBCBD;
            border-bottom: 1px solid #BEBCBD;
            border-left: 0;
            border-right: 0;
        }
        .size__wrapp{
            display: flex;
            flex-wrap: wrap;
            gap: 18px;
            padding: 40px 38px;
        }
        .size__wrapper{
            position: relative;
            font-family: var(--text-font-causten);
            font-weight: var(--semi-bold);
            font-size: 14px;
            color: var(--text-color-black);
            border: 1px solid #BEBCBD;
            border-radius: 8px;
            padding: 7px 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 22px;
                cursor: pointer;
            }
        }
        .select__size{
            border: 1px solid var(--fourth);
        }
    }
    .filtered{
        display: flex;
        flex-direction: column;
        width: 100%;
        .prod__title{
            font-family: var(--text-font-causten);
            font-weight: var(--semi-bold);
            font-size: 22px;
            color: var(--text-color-black);
        }
        .filtered__items{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            align-items: center;
            padding: 50px 0; 
        }
        .filter-btn{
            cursor: pointer;
            border: 0;
            outline: none;
            background: transparent;
            font-family: var(--text-font-causten);
            font-weight: var(--semi-bold);
            font-size: 22px;
            color: var(--text-color-black);
        }
        .active{
            color: var(--first-color);
        }
    }
    .product{
        display: flex;
        gap: 37px;
        flex-wrap: wrap;
        width: 100%;
    }
    .wrapper__prod{
        position: relative;
        max-width: 282px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .prod__image{
            max-width: 282px;
            max-height: 370px;
            overflow: hidden;
            border-radius: 12px;
            .prod__img{
                max-width: 282px;
                max-height: 370px;
                overflow: hidden;
                border-radius: 12px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            } 
        }
        .prod__items{
            display: flex;
            justify-content: space-between;
            align-items: center; 
            .prod__name-brand{
                display: flex;
                flex-direction: column;
                .prod__name{
                    font-family: var(--text-font-causten);
                    font-weight: var(--semi-bold);
                    font-size: 16px;
                    color: var(--text-color-black); 
                }
                .prod__brand{
                    font-family: var(--text-font-causten);
                    font-weight: var(--medium);
                    font-size: 14px;
                    color: var(--text-color-brown);
                }
            }
            .prod__price{
                background: var(--second-color);
                border-radius: 8px;
                font-family: var(--text-font-causten);
                font-weight: var(--bold);
                font-size: 14px;
                color: var(--text-color-black);
                padding: 10px 27px;
            }
        }
    }
    .prod__fav-btn{
        position: absolute;
        z-index: 2;
        top: 26px;
        right: 20px;
        .prod__fav{
            border: 0;
            background: transparent;
            outline: none;
            cursor: pointer;
            .fav__false{
                width: 32px;
                height: 32px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--third-color)
            }
            .fav__true{
                width: 32px;
                height: 32px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--first-color); 
            }
        }
    }
}
.category__content{
    @include section__styles();
    .content__wrapp-text{
        margin: 0 0 50px 0;
        .content__title{
            @include title__styles__main__page();
        }
        .content__text{
            font-family: var(--text-font-causten);
            font-weight: var(--medium);
            font-size: 20px;
            color: var(--text-color-brown);
            line-height: 50px;
        }
    }
    .content__table{
        .table__title{
            @include title__styles__main__page();
        }
        .table{
            background: #F6F6F6;
            .table__header{
                display: flex;
                justify-content: space-between;
                .header__cell{
                    font-family: var(--text-font-coreSans65);
                    font-size: 24px;
                    color: var(--text-color-black);
                    padding: 50px;
                    border-bottom: 1px solid #BEBCBD;
                }
                .header__cell:nth-child(1){
                    max-width: 865px;
                    width: 100%;
                }
                .header__cell:nth-child(2){
                    max-width: 175px;
                    width: 100%;
                    border-left: 1px solid #BEBCBD;
                }
            }
            .table__row{
                display: flex;
                justify-content: space-between;
                .table__cell{
                    font-family: var(--text-font-causten);
                    font-weight: var(--regular);
                    font-size: 24px;
                    color: var(--text-color-brown);
                }
                .table__cell:nth-child(1){
                    padding: 20px 50px;
                    max-width: 865px;
                    width: 100%;
                }
                .table__cell:nth-child(2){
                    max-width: 175px;
                    width: 100%;
                    border-left: 1px solid #BEBCBD; 
                    padding: 20px 50px;
                }
            }
        }
    }
}

@media (max-width: 489px) {
    .category__wrapp{
        flex-wrap: wrap;
        .filtered{
            &__items{
                flex-direction: column;
                align-items: flex-start !important;
            }
        }
        .filter__menu-wrapp{
            .filter__menu{
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #BEBCBD;
                .filters__btn{
                    background: var(--fourth);
                    border-radius: 4px;
                    font-family: var(--text-font-causten);
                    font-weight: var(--bold);
                    font-size: 16px;
                    color: var(--text-color-white);
                    display: inline-block;
                    padding: 10px 17px; 
                    border: 0;
                    outline: none;
                    margin: 10px auto;
                }
            }
        }
    }
}