@mixin section__styles{
    max-width: 1240px;
    width: 100%;
    padding: 50px 15px;
    margin: 0 auto;
    @media (max-width: 991px) {
        padding: 30px 15px;
    }
    @media (max-width: 489px) {
        width: initial;
        padding: 20px 10px;
    }
}
@mixin header__icon__style__false{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center; 
}
@mixin header__icon__style__true{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center; 
}
.header{
    &__wrapp{
        @include section__styles();
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 29px 15px;
        .burger__btn{
            display: none;
        }
        .close__btn{
            display: none;
        }
        .logo{
            max-width: 100px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .category__menu{
            .title__category{
                text-transform: capitalize;
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                .shop__link{
                    font-family: var(--text-font-causten);
                    font-weight: var(--medium);
                    font-size: 22px;
                    color: var(--text-color-brown);
                    transition: 0.6s; 
                }
                @media (any-hover: hover) {
                    .shop__link:hover{
                        color: var(--text-color-black);
                    }
                }
                span{
                    font-family: var(--text-font-causten);
                    font-weight: var(--medium);
                    font-size: 22px;
                    color: var(--text-color-brown);
                    cursor: pointer;
                    transition: 0.6s;
                    position: relative;
                }
                @media (any-hover: hover) {
                    span:hover{
                        color: var(--text-color-black);
                    }
                }
                .category__list{
                    position: absolute;
                    background: #fff;
                    box-shadow: 0px 0px 2px 0px #c8c9c9;
                    border-radius: 8px;
                    padding: 5px 10px;
                    z-index: 2;
                    a{
                        font-family: var(--text-font-causten);
                        font-weight: var(--medium);
                        font-size: 18px;
                        color: var(--text-color-black);
                    }
                }
                @media (max-width: 991px) {
                    .category__list{
                        position: initial;
                    }
                }
            }
        }
        .global__search{
            background: var(--second-color);
            border-radius: 8px;
            display: flex;
            gap: 12px;
            align-items: center;
            padding: 10px 45px 10px 20px;
            input{
                border: 0;
                outline: none;
                font-family: var(--text-font-causten);
                font-weight: var(--regular);
                color: var(--text-color-black);
                background: transparent;
            }
            input::placeholder{
                color: var(--text-color-brown);
            }
            .global__search-btn{
                border: 0;
                outline: none;
                background: transparent;
                cursor: pointer;
            }
        }
        .header__wrapp-btn{
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
        }
        .favorites__true{
            @include header__icon__style__true();
            cursor: pointer;
            a{
                width: 20px;
                height: 20px;
            }
        }
        .favorites__false{
            @include header__icon__style__false();
            cursor: pointer;
        }
        .user__true{
            @include header__icon__style__true();
            position: relative;
            cursor: pointer;
        }
        .user__false{
            @include header__icon__style__false();
            position: relative;
            cursor: pointer;
        }
        .header__navbar{
            position: absolute;
            background: var(--first-color);
            border-radius: 8px;
            padding: 5px 20px;
            z-index: 2;
        }
        .basket__true{
            @include header__icon__style__true();
            cursor: pointer;
        }
        .basket__false{
            @include header__icon__style__false();
            cursor: pointer;
        }
    }
}

@media (max-width: 991px) {
    .header{
        .burger__btn{
            display: inline-block;
            width: 44px;
            height: 44px;
            order: 1;
            background: var(--first-color);
            border-radius: 8px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .close__btn{
            display: inline-block;
            width: 35px;
            height: 35px;
            position: absolute;
            right: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            
        }
    }
    .header__wrapp{
        gap: 20px;
        width: inherit;
        .category__menu{
            transition: 0.6s;
            position: fixed;
            background: var(--first-color);
            z-index: 11;
            left: 0;
            top: 0;
            height: 100vh;
            max-width: 1100px;
            width: 100%;
            overflow-x: scroll;
            transform: translate(-110%);
            .title__category{
                flex-direction: column;
                padding: 30px 15px 15px 15px;
                gap: 15px;
                .shop__link{
                    color: var(--text-color-white);
                }
                span{
                    color: var(--text-color-white); 
                }
            }
        }
    }
}