.slider-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.slider-banner__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}
.slider-banner__slide {
  min-width: 100%;
  height: 100%;
  max-height: 718px;
  position: relative;
}
.slider-banner__slide .slider__img {
  max-width: 1920px;
}
.slider-banner__slide img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider-banner__slide .slide__text-wrapp {
  position: absolute;
  z-index: 3;
  top: 15%;
  left: 10%;
  max-width: 440px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: flex-start;
}
.slider-banner__slide .slide__text-wrapp .slide__text-top {
  font-family: var(--text-font-coreSans55);
  font-size: 32px;
  color: var(--text-color-white);
}
.slider-banner__slide .slide__text-wrapp .slide__text-title {
  font-family: var(--text-font-coreSans85);
  font-size: 78px;
  color: var(--text-color-white);
}
.slider-banner__slide .slide__text-wrapp .slide__text-bottom {
  font-family: var(--text-font-coreSans55);
  font-size: 32px;
  color: var(--text-color-white);
}
.slider-banner__slide .slide__text-wrapp .slide__link {
  background: var(--third-color);
  font-family: var(--text-font-causten);
  font-size: 24px;
  font-weight: var(--bold);
  border-radius: 8px;
  color: var(--text-color-black);
  padding: 15px 72px;
  border: 1px solid transparent;
  display: inline-block;
  transition: 0.6s;
}
@media (any-hover: hover) {
  .slider-banner__slide .slide__text-wrapp .slide__link:hover {
    background: rgba(255, 255, 255, 0.6);
  }
}
.slider-banner__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
.slider-banner__btn img {
  width: 30px;
  height: 30px;
}
.slider-banner__btn.prev {
  left: 20px;
}
.slider-banner__btn.next {
  right: 20px;
}
.slider-banner__bullets {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.slider-banner__bullets .bullet {
  width: 62px;
  height: 10px;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: background 0.3s;
}
.slider-banner__bullets .bullet.active {
  background: #fff;
}
.slider-banner__bullets .bullet:hover {
  background: #fff;
}
.slider-banner__bullets .bullet:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.slider-banner__bullets .bullet:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (max-width: 991px) {
  .slider-banner {
    height: 100%;
  }
  .slider-banner__slide {
    max-height: 473px;
  }
  .slider-banner__slide .slide__text-wrapp .slide__text-top {
    font-size: 20px;
  }
  .slider-banner__slide .slide__text-wrapp .slide__text-title {
    font-size: 35px;
  }
  .slider-banner__slide .slide__text-wrapp .slide__text-bottom {
    font-size: 20px;
  }
  .slider-banner__slide .slide__text-wrapp .slide__link {
    font-size: 18px;
    padding: 10px 37px;
  }
}
@media (max-width: 489px) {
  .slider-banner__slide .slide__text-wrapp {
    gap: 15px;
    left: 15%;
  }
  .slider-banner__slide .slide__text-wrapp .slide__text-top {
    font-size: 15px;
  }
  .slider-banner__slide .slide__text-wrapp .slide__text-title {
    font-size: 25px;
  }
  .slider-banner__slide .slide__text-wrapp .slide__text-bottom {
    font-size: 15px;
  }
}/*# sourceMappingURL=sliderBanner.css.map */